* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}


.header {
  background: #0f172a;
  padding: 15px 0;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: #cbd5e1;
  text-decoration: none;
  margin-left: 20px;
}

.nav a:hover {
  color: #fff;
}


.hero {
  background: #e5f6ee;
  padding: 80px 0;
  text-align: center;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  color: #555;
  margin-bottom: 25px;
}

.btn {
  background: #16a34a;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background: #15803d;
}



.features {
  padding: 60px 0;
  background: #fff;
}

.features .container {
  display: flex;
  gap: 20px;
  text-align: center;
}

.feature-box {
  background: #f8fafc;
  padding: 30px;
  border-radius: 8px;
  flex: 1;
}

.feature-box h3 {
  margin-bottom: 10px;
}
